body {
    font-family: arial,sans-serif;
    font-size: 16px;
}


#header-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 0.8125em;
    margin: 20px 20px 0 0;
}

#header-links li {
    padding: 0 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 6px);
    grid-template-rows: repeat(3, 6px);
    border: 1px solid white;
}

.grid-cell {    
    border: 1px solid white;
    background-color: darkgray;
}

#profile-picture {
    background: lightgray;
    height: 30px;
    width: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin: 0 5px;
}

#logo {
    margin: 0 auto;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -30%);
    left: 50%;
}